.page-title{
    margin-top: 2.5rem;
    font-size: 18pt;
}

.page-signin{
    margin-left: 460px;
    background-color: white ;
}

.btSignIn{
    margin-left: 170px;
    background: #00aee6;
    border-radius: 16px !important;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.search-bar{
    background-size: 14px;
    border: 1px solid #fff;
    border-radius: 16px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    padding: 0 10px 2px 32px;
    position: relative;
    width: 260px;
}
.block-chain{
    font-size: 17pt;
    margin-top: 20px;
}
.f-16{
    font-size: 17pt;
    cursor: pointer;
    color: #10ADE4;
    background-color: transparent;
    margin-left: 800px;
}
.f-17{
    margin-left:130px;
    font-size: 12pt;
}
.f-18{
    margin-left:120px;
    font-size: 12pt;
}
.block-table{
    font-size: 12pt;
}
.header-1{
    border-bottom: 1px solid #DDD;
}


footer {
    background: #e3eff5;
    color: #004a7c;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: normal;
    padding: 30px 0;
    text-transform: uppercase;
    width: 100%; }
footer.hidden {
    display: none; }
footer a {
    font-weight: 300; }
footer a:hover {
    text-decoration: underline; }
footer a, footer a:active, footer a:hover, footer a:visited {
    color: #004a7c; }
footer .flex-container {
    display: flex;
    flex-flow: row nowrap;
    width: inherit; }
@media screen and (max-width: 768px) {
    footer .flex-container {
        flex-flow: row wrap;
        padding: 0 30px; } }
@media screen and (max-width: 768px) {
    footer .flex-container:first-of-type > div:first-of-type {
        margin: 0 0 10px 0; } }
footer .flex-container:last-of-type {
    margin-top: 30px; }
@media screen and (max-width: 768px) {
    footer .flex-container:last-of-type {
        flex-flow: column-reverse nowrap;
        margin-top: 0; } }
footer .flex-container > div {
    margin: 0 35px;
    width: 160px; }
@media screen and (max-width: 768px) {
    footer .flex-container > div {
        flex-basis: 50%;
        margin: 25px 0 0 0;
        width: auto; } }
footer .flex-container > div:first-of-type {
    margin-left: 40px; }
@media screen and (max-width: 768px) {
    footer .flex-container > div:first-of-type {
        flex-basis: 100%;
        margin-left: 0; } }
footer .flex-container > div:last-of-type {
    margin-right: 40px; }
@media screen and (max-width: 768px) {
    footer .flex-container > div:last-of-type {
        margin-right: 0; } }
footer .flex-container > div.footer-logo {
    width: 175px; }
footer .flex-container > div.footer-logo img {
    width: inherit; }
footer .flex-container > div h6 {
    color: #004a7c;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    margin: 0; }
@media screen and (max-width: 768px) {
    footer .flex-container > div h6 {
        font-size: 14px; } }
footer .flex-container > div ol {
    display: inline-flex;
    flex-flow: column wrap;
    max-height: 142px;
    list-style: none;
    margin: 0;
    padding: 0; }
@media screen and (max-width: 768px) {
    footer .flex-container > div ol {
        flex-flow: column nowrap;
        max-height: unset; } }
footer .flex-container > div ol li {
    margin-top: 10px; }
@media screen and (max-width: 768px) {
    footer .flex-container > div ol li {
        margin-top: 12px; } }
@media screen and (max-width: 768px) {
    footer .flex-container > div ol li:first-of-type {
        margin-top: 4px; } }
footer .flex-container > div ol li:first-of-type, footer .flex-container > div ol li:nth-of-type(6) {
    border-top: 1px solid #004a7c;
    margin-top: 3px;
    padding-top: 8px; }
@media screen and (max-width: 768px) {
    footer .flex-container > div ol li:first-of-type, footer .flex-container > div ol li:nth-of-type(6) {
        padding-top: 10px; } }
@media screen and (max-width: 768px) {
    footer .flex-container > div ol li:nth-of-type(6) {
        border: none;
        margin-top: 12px;
        padding-top: 0; } }
footer .flex-container > div ol li:nth-of-type(6), footer .flex-container > div ol li:nth-of-type(7), footer .flex-container > div ol li:nth-of-type(8), footer .flex-container > div ol li:nth-of-type(9) {
    padding-left: 30px; }
@media screen and (max-width: 768px) {
    footer .flex-container > div ol li:nth-of-type(6), footer .flex-container > div ol li:nth-of-type(7), footer .flex-container > div ol li:nth-of-type(8), footer .flex-container > div ol li:nth-of-type(9) {
        padding-left: 0; } }
@media screen and (max-width: 768px) {
    footer .flex-container > div ol li a {
        font-size: 14px; } }
footer .flex-container > div ol li a img {
    width: inherit; }
footer .flex-container > div .dropup {
    font-weight: 300;
    margin-top: 10px; }
footer .flex-container > div .dropup:nth-of-type(2) {
    margin-bottom: 10px; }
footer .flex-container > div .dropup a, footer .flex-container > div .dropup a:active, footer .flex-container > div .dropup a:hover, footer .flex-container > div .dropup a:visited {
    text-decoration: none; }
footer .flex-container > div .dropup span.colon {
    font-size: 12px; }
@media screen and (max-width: 768px) {
    footer .flex-container > div .dropup span {
        font-size: 14px; } }
footer .flex-container > div .dropup .dropdown-menu {
    overflow: scroll;
    max-height: 450px; }
footer .flex-container .copyright {
    align-self: flex-end;
    color: #004a7c;
    flex-grow: 1;
    font-size: 10px;
    margin-right: 0;
    width: auto; }
@media screen and (max-width: 768px) {
    footer .flex-container .copyright {
        align-self: flex-start;
        font-size: 12px; } }
footer .flex-container .copyright a {
    font-size: 10px;
    font-weight: 400;
    margin-left: 15px; }
@media screen and (max-width: 997px) {
    footer .flex-container .copyright a {
        display: inline-block;
        margin: 5px 10px 0 0; } }
footer .flex-container .copyright a:hover {
    text-decoration: underline; }
footer .flex-container .copyright span {
    font-weight: 300; }
@media screen and (max-width: 997px) {
    footer .flex-container .copyright span {
        display: block;
        margin-bottom: 5px; } }
footer .flex-container .social-media {
    width: 200px; }
@media screen and (max-width: 768px) {
    footer .flex-container .social-media {
        width: 285px; } }
footer .flex-container .social-media a {
    float: left;
    height: 32px;
    margin: 0 10px 0 0;
    width: 32px; }
@media screen and (max-width: 768px) {
    footer .flex-container .social-media a {
        height: 42px;
        margin: 0 15px 0 0;
        width: 42px; } }
footer .flex-container .social-media a:hover {
    text-decoration: none; }
footer .flex-container .social-media a:last-of-type {
    margin-right: 0; }

@media (min-width: 768px) and (min-height: 601px) {
    .bc-logo-footer {
        left: 0;
        bottom: 0;
        position: fixed; } }

@media (min-width: 768px) and (max-height: 600px) {
    .bc-logo-footer {
        position: relative; } }

@media (min-width: 768px) {
    .bc-logo-footer {
        height: 90px; } }

@media (max-width: 767px) {
    .bc-logo-footer img, .bc-logo-footer a, .bc-logo-footer .drop-up {
        margin-left: 0px;
        margin-bottom: 40px; } }

.modal {
    display: none;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0; }
@media (max-width: 767px) {
    .modal {
        overflow: auto;
        position: absolute;
        display: block !important; } }
.modal.fade .modal-dialog {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transition: transform 0.15s linear; }
.modal.in .modal-dialog {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1); }
.modal.buy .modal-dialog {
    width: 650px; }
@media (max-width: 767px) {
    .modal.buy .modal-dialog {
        width: auto; } }
.modal.confirm {
    width: 35vw;
    margin: 0 auto;
    max-width: 35vw; }
@media (max-width: 767px) {
    .modal.confirm {
        max-width: 85vw;
        width: 85vw; } }
.modal.confirm .modal-dialog {
    transition: all 0.3s linear; }
.modal.confirm .modal-body {
    border-radius: 5px 5px 0px 0px; }
.modal.confirm .modal-footer {
    border-radius: 0px 0px 5px 5px;
    background-color: #fff; }
.modal.confirm.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%); }
.modal.confirm.in .modal-dialog {
    -webkit-transform: translate(0, 10%);
    -ms-transform: translate(0, 10%);
    -o-transform: translate(0, 10%);
    transform: translate(0, 10%); }

.modal-progress {
    margin-bottom: 0;
    height: 2px;
    background-color: white;
    box-shadow: none; }
.modal-progress .progress-bar {
    background-color: #004a7c; }

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px; }

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0; }

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000; }
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.modal-header {
    padding: 25px 35px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857px; }

.modal-header .close {
    margin-top: -10px; }

.modal-title {
    margin: 0;
    line-height: 1.42857; }

.modal-body {
    position: relative;
    padding: 25px 35px; }

.modal-footer {
    padding: 25px 35px;
    text-align: right;
    border-top: 1px solid #e5e5e5; }
.modal-footer:before, .modal-footer:after {
    content: " ";
    display: table; }
.modal-footer:after {
    clear: both; }
.modal-footer .btn + .btn,
.modal-footer .popover + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
.modal-footer .btn-block + .btn-block {
    margin-left: 0; }
.modal-footer:after, .modal-footer:before {
    content: none; }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll; }

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto; }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
    .modal-sm {
        width: 300px; } }

@media (min-width: 992px) {
    .modal-lg {
        width: 900px; } }

.bc-modal .modal-dialog {
    width: 55vw; }
@media (max-width: 767px) {
    .bc-modal .modal-dialog {
        margin: 60px auto !important; } }

.bc-modal.block {
    display: block !important; }
.bc-modal.block .modal-dialog {
    margin: 30px auto; }

@media (min-width: 768px) {
    .bc-modal.initial .modal-dialog {
        width: 600px; } }

.bc-modal.auto .modal-dialog {
    width: auto; }

.bc-modal.sm .modal-dialog {
    width: 40vw; }

@media (max-width: 768px) {
    .bc-modal.sm .modal-dialog {
        width: 80vw; } }

.bc-modal.xs .modal-dialog {
    width: 30vw; }

.bc-modal.large .modal-dialog {
    width: 60vw; }

@media (max-width: 1052px) {
    .bc-modal.large .modal-dialog {
        width: 65vw; } }

@media (max-width: 991px) {
    .bc-modal.large .modal-dialog {
        width: 85vw; } }

@media (min-width: 768px) {
    .bc-modal.medium .modal-dialog {
        width: 45vw; } }

.bc-modal.confirm .modal-dialog {
    width: auto; }

.bc-modal.confirm .modal-body {
    min-height: 0px; }

.bc-modal.trade-summary .modal-dialog {
    width: 300px; }

@media (min-width: 768px) {
    .bc-modal.trade-summary .modal-dialog {
        width: 500px; } }

.bc-modal .modal-body {
    background: white; }

.bc-modal .modal-footer {
    border-top: 1px solid #e5e5e5; }

.bc-modal .bc-modal-header {
    position: relative; }
.bc-modal .bc-modal-header h5 {
    color: #919191;
    font-weight: 300;
    margin: 5px 0; }
.bc-modal .bc-modal-header img {
    margin-right: 10px;
    height: 40px; }
.bc-modal .bc-modal-header .step {
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 11px;
    padding-right: 14px; }
.bc-modal .bc-modal-header.no-border {
    border-bottom: 0px; }

.bc-modal input[type="checkbox"] {
    margin: 0; }

.bc-modal .ph-form .form-group {
    margin-bottom: 10px; }

.bc-modal .ph-form .form-control, .bc-modal .ph-form form.bc-form input, form.bc-form .bc-modal .ph-form input, .bc-modal .ph-form form.bc-form select, form.bc-form .bc-modal .ph-form select, .bc-modal .ph-form
form.bc-form .fake-select,
form.bc-form .bc-modal .ph-form .fake-select {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #DDD; }
.bc-modal .ph-form .form-control:focus, .bc-modal .ph-form form.bc-form input:focus, form.bc-form .bc-modal .ph-form input:focus, .bc-modal .ph-form form.bc-form select:focus, form.bc-form .bc-modal .ph-form select:focus, .bc-modal .ph-form
form.bc-form .fake-select:focus,

.bc-modal .ph-form .form-control.no-border, .bc-modal .ph-form form.bc-form input.no-border, form.bc-form .bc-modal .ph-form input.no-border, .bc-modal .ph-form form.bc-form select.no-border, form.bc-form .bc-modal .ph-form select.no-border, .bc-modal .ph-form
form.bc-form .no-border.fake-select,
form.bc-form .bc-modal .ph-form .no-border.fake-select {
    border-bottom: 0px; }

.bc-modal .has-error .border-bottom {
    z-index: 10;
    position: relative;
    border-color: #a94442 !important; }

.bc-modal .fa-arrows-h {
    color: #DDD;
    padding: 0px 10px; }

.bc-modal ul {
    list-style-type: none; }

.bc-modal .usd-amount, .bc-modal .btc-amount {
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    justify-content: flex-start; }

.bc-modal .amount-field {
    display: flex;
    align-items: center;
    justify-content: space-between; }
.bc-modal .amount-field label {
    margin-right: 10px; }

.bc-modal .send-by {
    list-style-type: none;
    position: absolute;
    top: 0px;
    right: 25px; }
.bc-modal .send-by li {
    display: inline-block;
    margin: 0 10px;
    color: #DDD; }
.bc-modal .send-by li.active {
    color: #004a7c;
    font-weight: 700; }
.bc-modal .send-by li:hover {
    text-decoration: underline;
    cursor: pointer; }

.bc-modal .hide {
    display: none !important; }

.bc-modal .hidden {
    opacity: 0; }

.bc-modal .to-field, .bc-modal .public-note {
    position: relative; }
.bc-modal .to-field label, .bc-modal .public-note label {
    margin-bottom: 15px; }

.bc-modal .btc, .bc-modal .email, .bc-modal .phone {
    display: flex;
    flex-direction: column; }

.bc-modal .qr-code {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 33px;
    top: 50px;
    background: #fdfdfd;
    border: 1px solid #e5e5e5;
    padding: 5px; }
.bc-modal .qr-code:hover {
    cursor: pointer;
    background: #efefef; }

.bc-modal .conversion {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px; }

.bc-modal input[type=number]::-webkit-inner-spin-button,
.bc-modal input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.bc-modal ::-webkit-input-placeholder {
    color: #DDD; }

.bc-modal .recipient-currency .form-control, .bc-modal .recipient-currency form.bc-form input, form.bc-form .bc-modal .recipient-currency input, .bc-modal .recipient-currency form.bc-form select, form.bc-form .bc-modal .recipient-currency select, .bc-modal .recipient-currency
form.bc-form .fake-select,
form.bc-form .bc-modal .recipient-currency .fake-select {
    padding: 3px 10px;
    background-color: transparent; }

.bc-modal .two-fa-image {
    width: 40px; }

.bc-modal .rocket-gif {
    border-radius: 5px;
    height: 430px; }
@media (max-width: 767px) {
    .bc-modal .rocket-gif {
        display: none; } }

.bc-modal [name="signMessageForm"] label, .bc-modal [name="verifyMessageForm"] label {
    text-align: right; }

.rocket-modal {
    background: rgba(10, 10, 10, 0.4); }
.rocket-modal .modal-body {
    padding: 3em; }
.rocket-modal .rocket-text img {
    width: 30px;
    margin: 0px auto;
    margin-bottom: 1.25em; }

.terms-modal .modal-body {
    max-height: 400px;
    overflow-y: scroll;
    padding: 0; }

.terms-modal .modal-dialog {
    width: 65vw; }

@media (max-width: 767px) {
    .bc-modal .modal-dialog, .bc-modal.small .modal-dialog {
        width: 95%;
        /* fallback for browsers without support for vw */
        width: 95vw;
        margin: 5vw 2vw; }
    .rocket-modal .modal-body {
        padding: 1em; }
    .rocket-modal .rocket-gif {
        height: 325px; }
    .rocket-modal .rocket-text {
        padding: 1em 1em;
        text-align: center; }
    .rocket-modal .rocket-text p {
        font-size: 12px; }
    .rocket-modal .rocket-text h3 {
        font-size: 18px;
        margin-top: 0px; }
    .rocket-modal .rocket-text .button-success {
        font-size: 12px;
        padding: .5em; } }

@media (min-width: 768px) and (max-width: 991px) {
    .bc-modal .modal-dialog, .bc-modal.small .modal-dialog {
        width: 60vw; } }

@media (max-width: 620px) {
    .bc-modal .total-amounts, .bc-modal.small .total-amounts {
        width: 100%; } }

.modal-backdrop.fade {
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }

.modal-content {
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }

.ng-enter .modal-content {
    -webkit-transition: opacity 0s;
    -o-transition: opacity 0s;
    transition: opacity 0s;
    opacity: 0; }

.bc-modal.buy .bc-modal-header img {
    height: auto;
    margin: 0px; }

.modal-header + .close-modal,
.modal-header .close-modal,
.modal-body .close-modal,
.tray .close-modal {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: #979797;
    right: 20px;
    top: 20px; }

.modal-content .close-modal.alt,
.modal-body .close-modal.alt {
    top: -110px;
    width: 30px;
    height: 30px;
    right: -15px;
    color: #5F5F5F;
    font-size: 12px;
    background: white;
    border-radius: 20px; }

.modal-content .close-modal.alt.low {
    top: -15px; }

.tray .close-modal {
    top: 25px;
    right: 40px; }

.modal.tray {
    left: 270px;
    overflow: auto;
    position: fixed;
    margin-top: 60px;
    line-height: 20px;
    opacity: 1 !important;
    top: calc(100% - 60px);
    height: calc(100% - 60px);
    -webkit-transition: top 0.8s, opacity 0s 0.8s !important;
    -o-transition: top 0.8s, opacity 0s 0.8s !important;
    transition: top 0.8s, opacity 0s 0.8s !important; }
.modal.tray .modal-content {
    min-height: 100%;
    overflow: initial;
    opacity: 1 !important; }
.modal.tray .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -webkit-transform: scale(1) !important; }
.modal.tray.fade.in {
    top: 0%;
    bottom: 0%; }
@media (max-width: 767px) {
    .modal.tray {
        left: 0px;
        top: 100%;
        width: 100%;
        height: 100%;
        bottom: -100%;
        margin-top: 0px; }
    .modal.tray.fade.ng-enter {
        top: 0px !important;
        bottom: 0px !important; }
    .modal.tray.fade.in:not(.ng-enter) {
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
        overflow: initial;
        position: absolute; }
    .modal.tray .sfox-signup .pl-40 {
        padding-left: 20px; }
    .modal.tray .sfox-signup .pr-40 {
        padding-right: 20px; }
    .modal.tray .sfox-signup .pt-40 {
        padding-top: 20px; }
    .modal.tray .close-modal {
        position: absolute;
        right: 1.25em;
        top: 1.25em; } }

@media (max-width: 767px) {
    .modal-header,
    .modal-body,
    .modal-footer {
        padding: 15px 20px; }
    .modal-footer .button-muted, .modal-footer .button-muted-off {
        padding: 0px; }
    .modal-open {
        overflow: initial; }
    .bc-modal.buy {
        width: 100%;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial; } }


.container:first-of-type {
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -webkit-box-flex: 1; }

/*Counter*/
.counter {
    width: 70px;
    color: white;
    height: 112px;
    font-size: 54px;
    overflow: hidden;
    padding-top: 18px;
    margin-right: 10px; }

#counters {
    -webkit-transition: 0.2s linear opacity;
    -moz-transition: 0.2s linear opacity;
    -ms-transition: 0.2s linear opacity;
    -o-transition: 0.2s linear opacity;
    transition: 0.2s linear opacity; }

.page-header.mvn.bg-grey {
    margin-top: -20px; }

/* Safari 9 */
#home-container {
    display: block; }

.api + .footer {
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -webkit-box-flex: 1; }

.controls .input-prepend span,
.controls .input-prepend input {
    height: 23px; }

.modal-footer.btn-group {
    display: block; }

.charts .flex-row img, .charts form.bc-form .group.inline img, form.bc-form .charts .group.inline img, .charts form.bc-form .group .item.inline img, form.bc-form .group .charts .item.inline img, .charts form.bc-form .group .item.check img, form.bc-form .group .charts .item.check img, .charts form.bc-form .radio-label label img, form.bc-form .radio-label .charts label img {
    min-width: 150px;
    margin-right: 10px;
    height: auto !important; }

@media (max-width: 425px) {
    div#graph_container {
        position: relative !important; } }

.bci-ad img {
    max-width: 100%; }

#home-container .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px; }

#home-container .table > thead > tr > th,
#home-container .table > thead > tr > td,
#home-container .table > tbody > tr > th,
#home-container .table > tbody > tr > td,
#home-container .table > tfoot > tr > th,
#home-container .table > tfoot > tr > td {
    border: 0;
    padding: 18px;
    font-size: 14px;
    font-weight: 400;
    vertical-align: top;
    line-height: 1.428571429; }

#home-container .table > thead > tr > th {
    font-size: 16px;
    font-weight: 600;
    vertical-align: bottom;
    border: 0; }

#home-container .table > caption + thead > tr:first-child > th,
#home-container .table > caption + thead > tr:first-child > td,
#home-container .table > colgroup + thead > tr:first-child > th,
#home-container .table > colgroup + thead > tr:first-child > td,
#home-container .table > thead:first-child > tr:first-child > th,
#home-container .table > thead:first-child > tr:first-child > td {
    border-top: 0; }

#home-container .table > tbody + tbody {
    border-top: 2px solid #ddd; }

#home-container .table #home-container .table {
    background-color: #fff; }

@media only screen and (max-width: 414px) {
    .hide-mobile {
        display: none !important; }
    .mobile-f12 {
        font-size: 12px; }
    .mobile-wrap a {
        display: block;
        max-width: 200px;
        word-wrap: break-word; }
    .stack-mobile {
        display: block; } }

.modal .modal-dialog {
    margin: 100px auto; }
.bg-footer-blue {
    background: #e0edf2; }
